<div class="w-full ">
  <div class="flex flex-col items-center">
    <div class="bg-primary w-full justify-center p-5 text-white flex justify-between items-center">
       <%= link_to unauthenticated_root_path do %>
          <i class="fa-solid fa-arrow-left-long"></i>
        <% end %>
      <h2 class="text-2xl">Log in</h2>
      <p>Log In</p>
    </div>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "px-2 my-2 text-lg w-full max-w-sm flex flex-col items-center " }) do |f| %>

      <div class="font-bold flex flex-col w-full text-accent items-center">
        <%= f.email_field :email, autofocus: true, placeholder: "email", autocomplete: "email", class: "border-2 w-full bg-white text-black" %>
      </div>

      <div class="font-bold flex flex-col w-full text-accent items-center">
        <%= f.password_field :password, placeholder: "password", autocomplete: "current-password", class: "border-2 w-full bg-white text-black" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="font-bold flex w-full text-accent items-center gap-2">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="font-bold bg-primary hover:bg-primary-focus px-4 py-1 text-white">
        <%= f.submit "Log in" %>
      </div>

    <% end %>

    <div class="flex flex-col gap-1 justify-center items-center">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
