  <div>
    <div class="flex flex-col items-center">

      <div class="bg-primary w-full justify-center p-5 text-white flex justify-between items-center">
        <%= link_to categories_path do %>
          <i class="fa-solid fa-arrow-left-long"></i>
        <% end %>
        <h2 class="text-2xl">CATEGORY</h2>
        <p>Category</p>
      </div>

      <%= form_with model: @category, html: { class: "p-2 my-2 text-lg w-full max-w-sm flex flex-col items-center" } do |f| %>
        <div class="font-bold flex justify-between w-full text-accent">
          <%= f.text_field :name, required: true, placeholder: "Category", class: "border-2 w-full bg-white text-black" %>
        </div>
        <div class="font-bold flex justify-between w-full text-accent">
          <%= f.select :icon, { "None" => nil }.merge(Category::ICONS.invert), { include_blank: true }, { required: true, class: "border-2 w-full bg-white text-black" } %>
        </div>
        <div class="font-bold bg-primary hover:bg-primary-focus px-4 py-1 my-2 text-white">
          <%= f.submit "Save" %>
        </div>
      <% end %>
    </div>
  </div>
