<!DOCTYPE html>
<html>
  <head>
    <title>BudgetApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="w-screen bg-neutral-focus m-0 flex items-center relative justify-center">

    <main class=" flex flex-col w-full h-max content-center items-center justify-center  bg-neutral-focus ">
      <%= yield %>
    </main>

    <script src="https://kit.fontawesome.com/7415ea4535.js" crossorigin="anonymous" async defer></script>
  </body>
</html>
